.admin-panel {
    margin: 40px auto;
}

.admin-panel input {
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    border: none;
}

.admin-panel button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: #9c27b0;
    color: white;
    cursor: pointer;
}

.admin-panel button:hover {
    background: #7b1fa2;
}